@page
@model BankSystem.Pages.Login.IndexModel
@using BankSystem.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

@if (Account.LoggedInAccount != null && Account.LoggedInAccount.Id == Account.AdministratorID)
{
    <p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].SecretQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountCreatedData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCreatedData)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

}
else
{
    <p>PERMISSION DENIED</p>
}