@page
@model BankSystem.Pages.Admin.TransactionsModel
@using BankSystem.Models

@{
    ViewData["Title"] = "Transactions";
}

@if(Account.LoggedInAccount != null && Account.LoggedInAccount.Id == Account.AdministratorID)
{
    <h1>Transactions</h1>
    <h1>Total transactions: @Model.Transaction.Count</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].FromUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].FromUserCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].ToUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].ToUserCardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].MoneyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].FromUserInitialBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].FromUserAfterBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].ToUserInitialBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].ToUserAfterBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction[0].Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Transaction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromUserCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUserCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromUserInitialBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromUserAfterBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUserInitialBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUserAfterBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
        </tr>
}
    </tbody>
</table>

}
else
{
    <p>PERMISSION DENIED</p>
}
