@page
@model BankSystem.Pages.User.BalanceModel
@using BankSystem.Models

@{
    ViewData["Title"] = "Balance";
}

<h6 class="bg-dark text-info"><b>Balance:</b> @Account.LoggedInAccount.Balance @Account.Currency</h6>


<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="mw-100">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">Transactions</h4>

            <table class="table mb-3">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Sender</th>
                  <th scope="col">Sender card number</th>
                  <th scope="col">Reciever</th>
                  <th scope="col">Reciever card number</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Summary</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                @foreach(var t in Model.transactions)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.FromUserName</td>
                        <td>@t.FromUserCardNumber</td>
                        <td>@t.ToUserName</td>
                        <td>@t.ToUserCardNumber</td>
                        <td>@t.MoneyAmount @Account.Currency</td>
                        <td>@t.Details</td>
                        <td>@t.Date.ToString("dd//MM//yyyy")</td>
                    </tr>
                }
              </tbody>
            </table>

          </div>
          <div class="card-footer">
              <a href="/User/Index" class="btn-lg btn-info m-2 p-2">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@