@page
@model BankSystem.Pages.User.StatementModel
@using BankSystem.Models

@{
    ViewData["Title"] = "Statement";
}



<h4>Statement</h4>
<hr />

<div class="row">
    <div class="text-center">
        <div class="card">
            <div class="card-header">
                <h2>Hello, @Account.LoggedInAccount.Name</h2>
            </div>

            <div class="card-body">
                
                <div class="transactions">
                    <h6>Transactions</h6>
                    <hr />
                    <table>
                        <thead>
                            <tr>
                              <th scope="col">No.</th>
                              <th scope="col">Sender</th>
                              <th scope="col">Sender card number</th>
                              <th scope="col">Reciever</th>
                              <th scope="col">Reciever card number</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Summary</th>
                              <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var t in Model.Transactions)
                            {
                            <tr>
                                <td>@t.Id</td>
                                <td>@t.FromUserName</td>
                                <td>@t.FromUserCardNumber</td>
                                <td>@t.ToUserName</td>
                                <td>@t.ToUserCardNumber</td>
                                <td>@t.MoneyAmount @Account.Currency</td>
                                <td>@t.Details</td>
                                <td>@t.Date.ToString("dd//MM//yyyy")</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>

                <div class="deposits">
                    <h6>Deposits</h6>
                    <hr />
                    <table>
                        <thead>
                            <tr>
                              <th scope="col">Id.</th>
                              <th scope="col">Suma</th>
                              <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model.Deposits)
                            {
                            <tr>
                                <td>@d.Id</td>
                                <td>@d.Amount</td>
                                <td>@d.Date</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>

                <div class="withdrawals">
                    <h6>Withdrawals</h6>
                    <hr />
                    <table>
                        <thead>
                            <tr>
                              <th scope="col">Id.</th>
                              <th scope="col">Suma</th>
                              <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var w in Model.Withdrawals)
                            {
                            <tr>
                                <td>@w.Id</td>
                                <td>@w.Amount</td>
                                <td>@w.Date</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>

            </div>

            <div class="card-footer">
                <a href="/User/Index" class="btn-lg btn-primary m-3">Back</a>
            </div>
        </div>
    </div>
</div>